<div class="center hero-unit">
  <h1>Welcome to OrderNow </h1>

  <h2>
    Kembabazi restuarant welcomes you. Please sign in or signup to make your order
  
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

