<footer class="footer">
  <small>
   A Final Year Project
    by Group BSE 13-14
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
  
    </ul>
  </nav>
</footer>